fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic[email]
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
google-generativeai
python-dotenv
httpx
